body {
  background-color: #fafbfc;
  color: #2e3d49;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
  font-family: 'Montserrat', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  letter-spacing: 8px;
  position: relative;
  text-transform: uppercase;
  text-shadow: 1px 2px 3px #2b43b1;
} 

h1::after {
  border: 5px solid #2b43b1;
}

h2, h3, h4 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

p {
  line-height: 1.5;
}

time {
  color: #2b43b1;
}

article img {
  height: auto;
  width: 100%;
}

article header {
  display: flex;
  align-items: baseline ;
  justify-content: space-between;
}

article, aside {
  margin: 2em;
}

footer {
  border-top: 2px solid #2b43b1;
  margin-top: 4em;
  padding: 2em;
  text-align: center;
}

main {
  flex: 1 1 70%
}

aside {
  display: block;
  border-top: 0;
  border-left: 2px solid #2b43b1;
  margin: 0;
  padding: 2em;
  flex: 0 1 30%;
  align-self: flex-start;
}


/* class styles */
.page-header {
  background-image: url('../img/headerimage.jpg');
  background-position: 50% 70%;
  background-size: cover;
  text-align: center;
  padding: 1em;
  margin-bottom: 2rem;
  min-height: 25vh;
}
.container {
  margin: auto;
  max-width: 1300px;
  display: flex;
}

.visuallyhidden {
  overflow: hidden;
  border: 0;
  height: 1px;
  position: absolute;
  margin: -1px;
  white-space: nowrap;
  padding: 0;
}

.sidebar-text {
 margin-left: 0px;
}
.sidebar-text h2 {
  margin-top: 0.5em;
}

.read-more {
  position: relative;
  font-size: 80%;
  top: -1px;
  left: 7px;
}

.social-link {
  display: inline-block;
  margin-right: 0.75em;
}
